body {
  background-color: #BDD3E9;
  color: #3F6992;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  text-align: center;
}

.lamp {
  position: absolute;
  left: 25%;
  top: 15%;
  width: 50%;
}

.light {
  opacity: 0;
  transition: 2s;
}

.light:hover {
  opacity: 1;
}

.hello {
  position: absolute;
  left: -4%;
  top: 10%;
  width: 30%;
}
